<nav aria-label="breadcrumb" class="mt-1">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a  routerLink="/dashboard">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Issues</li>
  </ol>
</nav>

<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary box-shadow">
  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">Issues</h6>
    <small>List</small>
  </div>
</div>

<div class="my-3 p-3">
  <div class="text-center text-secondary">
    <i class="fas fa-th-list fa-4x"></i>
    <p>Coming soon</p>
  </div>
</div>
